In [102]:
# 1. Load data from the file 'jester-data-1.csv'
# Note: 99 denotes that the user hasn't been labelled it. Therefore don't
# use then in training.

import pandas as pd
df = pd.read_csv("jester-data-1.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

In [103]:
# 2. Label 10% of the dataset cells as 99, to denote they are part of the
# validation set.

import random as rand

df_validation = df.copy()
df_validation.head()

# Get data from metrics.
rows = df_validation.shape[0]
cols = df_validation.shape[1]
cells = rows * cols

print('Rows:\t\t' + str(rows))
print('Columns:\t' + str(cols))
print('Cells:\t\t' + str(cells))

# Get number of unspecified values in the data set.
cells_not_specified = (df_validation.iloc[:,:] == 99).sum().sum()
cells_not_specified_percent = (cells_not_specified / cells) * 100

print('Not specified count: ' + str(cells_not_specified))
print('Not specified percent: ' + str(cells_not_specified_percent))

# Calculate the percent of cells to change.
cells_specified = cells - cells_not_specified
cells_to_change = round(cells_specified * 0.1)

print('Cells specified: ' + str(cells_specified))
print('Cells to change: ' + str(cells_to_change))
        
row = 0
col = 0
for x in range(0, cells_to_change.astype(int)):  
    while (df_validation.iloc[row, col]) == 99:
        row = rand.randint(0, rows - 1)
        col = rand.randint(0, cols - 1)
            
    df_validation.at[row, col] = 99    
    
print('Not specified count after: ' + str((df_validation.iloc[:,:] == 99).sum().sum()))

df_validation.head()

# df_validation.at[1, 0] = 5
# loc
# iloc
# ix
# at
# iat

Rows:		24983
Columns:	101
Cells:		2523283
Not specified count: 687926
Not specified percent: 27.26313298983903
Cells specified: 1835357
Cells to change: 183536.0
Not specified count after: 871462

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,99,-7.82,99.00,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
1,99,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,99.00,-4.95,-0.29,7.86,-0.19,-2.14,99.00,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,99.00,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,99.00,-4.17,-5.39,99.00,1.60,7.04,4.61,-0.44,...,5.19,99.00,4.27,5.19,5.73,99.00,3.11,6.55,1.80,99.00